body {
    background-color: black;
}
.cabeçalho {
    margin-bottom: 0px;
}
.cabeçalho {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}
